header {
  text-align: center;
}
header a {
  text-decoration: none;
  color: black;
}
body {
  margin-left: 200px;
  margin-right: 200px;
}
#mid {
  text-align: center;
}
#media_button {
  border: 1px solid #405985;
  border-radius: 5px;
  background-color: transparent;
}
#main_line {
  height: 2px;
  background: gray;
}

#img {
  height: 50em;
}
#menubar {
  background: aliceblue;
  text-align: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

#menubar li {
  display: inline;
  font-size: 15px;
}
#menubar a {
  color: black;
  padding: 10px;
  display: inline-block;
  text-decoration: none;
  font-weight: 600;
}
#menubar a:hover {
  color: #405985;
}
#covid-table {
  border: 1px;
  border-collapse: collapse;
}

td,
th {
  color: #333;
  border: 1px;
}
